@font-face{
    font-family: 'poppinsBold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face{
    font-family: 'poppinsSemibold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face{
    font-family: 'poppinsRegular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face{
    font-family: 'poppinsLight';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
};

@font-face{
    font-family: 'poppinsExtralight';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
};